menu "Project task config"
    choice EPAPER_IDF_MAIN_TASK_CHOICE
        prompt "Select project main task"
        default EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
        help
            Choose the main task to run for this project.
            You can pick one of the example tasks, or add 
            your own tasks to this list.
        
        config EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
            bool "http-slideshow"

        config EPAPER_IDF_MAIN_TASK_USER_OPT
            bool "user"

        config EPAPER_IDF_MAIN_TASK_NONE_OPT
            bool "none"
    endchoice

    config EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW
        string "Project main task override"
        depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
        default "task/http-slideshow.h" if EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
        
    config EPAPER_IDF_MAIN_TASK_USER
        string "Project main task override"
        depends on EPAPER_IDF_MAIN_TASK_USER_OPT
        default "task/none.h" if EPAPER_IDF_MAIN_TASK_USER_OPT
        
    config EPAPER_IDF_MAIN_TASK_NONE
        string "Project main task override"
        depends on EPAPER_IDF_MAIN_TASK_NONE_OPT
        default "task/none.h" if EPAPER_IDF_MAIN_TASK_NONE_OPT
                
    comment "Task Settings"
        depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT || EPAPER_IDF_MAIN_TASK_USER_OPT

    config EPAPER_IDF_DEEP_SLEEP_SECONDS
        int "Deep sleep seconds between screen refreshes [min - -15 || 15 - max]"
        depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT || EPAPER_IDF_MAIN_TASK_USER_OPT
        default 200
        help
            Seconds that the ESP32 device will go into deep sleep mode between screen refreshes.

            Range: min_ilong - -15 || 15 - max_ilong
            
            Use a negative number if you'd like it to just wait instead of sleeping, 
            for example: -200
    
    config EPAPER_IDF_IMAGES_INDEX_JSON_URL
        string "URL to a JSON object of images (8-bit max .bmp)"
        depends on EPAPER_IDF_MAIN_TASK_HTTP_SLIDESHOW_OPT
        default "http://defcronyke.gitlab.io/epaper-idf/images/index.json"
        help
            A URL to an HTTP GET route hosting a JSON file containing an object specifying relative paths or 
            URLs to Bitmap images to display on the screen (1, 4, or 8 bits per pixel).

            See these example files:
            
                ./public/images/index.json  (used by default)
                ./public/images/index-path.json
                ./public/images/index-url.json
                ./public/images/index-url-inline.json
endmenu

menu "Project display config"    
    choice EPAPER_IDF_DEVICE_MODEL_CHOICE
        prompt "Select e-paper device"
        default EPAPER_IDF_DEVICE_MODEL_NONE_OPT
        help
            Choose your e-paper device.

        config EPAPER_IDF_DEVICE_MODEL_NONE_OPT
            bool "none"

        config EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT
            bool "Gdew075T8"
        
        config EPAPER_IDF_DEVICE_MODEL_USER_OPT
            bool "user"

        # config EPAPER_IDF_DEVICE_MODEL_GDEW075T7_OPTION
        #     bool "Gdew075T7"

        # config EPAPER_IDF_DEVICE_MODEL_GDEH0154D67_OPTION
        #     bool "Gdeh0154d67"
            
        # config EPAPER_IDF_DEVICE_MODEL_GDEH0213B73_OPTION
        #     bool "Gdeh0213b73"

        # config EPAPER_IDF_DEVICE_MODEL_GDEP015OC1_OPTION
        #     bool "Gdep015OC1"

        # config EPAPER_IDF_DEVICE_MODEL_GDEW0213I5F_OPTION
        #     bool "Gdew0213i5f"

        # ...

    endchoice

    config EPAPER_IDF_DEVICE_MODEL_USER
        string "e-paper device override"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        default "device/none.h" if EPAPER_IDF_DEVICE_MODEL_USER_OPT

    config EPAPER_IDF_DEVICE_MODEL_GDEW075T8
        string "e-paper device override"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT
        default "device/Gdew075T8.h" if EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT

    config EPAPER_IDF_DEVICE_MODEL_NONE
        string "e-paper device override"
        depends on EPAPER_IDF_DEVICE_MODEL_NONE_OPT
        default "device/none.h" if EPAPER_IDF_DEVICE_MODEL_NONE_OPT

    comment "Display Settings"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT

    config EPAPER_IDF_DISPLAY_ROTATION
        int "Display rotation: 0 = 0°, 1 = 90° cw, 2 = 180° 3 = 270°"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 3
        default 0
        help
            The screen will display things with this rotation applied (in ° degrees):

                0 = 0°, 1 = 90° cw, 2 = 180° 3 = 270°

    comment "Single e-paper SPI displays only (GoodDisplay/WaveShare)"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT

    config EPAPER_IDF_SPI_MOSI
        int "SPI GPIO for MOSI (MOSI or DIN)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 35
        default 23
    config EPAPER_IDF_SPI_CLK
        int "SPI GPIO for Clock (CLK)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 37
        default 18
    config EPAPER_IDF_SPI_CS
        int "SPI GPIO for Chip Select (CS)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 34
        default 5
    config EPAPER_IDF_DC
        int "SPI GPIO for DC (DC)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 34
        default 13
    config EPAPER_IDF_RST
        int "SPI GPIO for Reset (RST)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 34
        default 16
    config EPAPER_IDF_BUSY
        int "SPI GPIO for Busy (BUSY or DONE)"
        depends on EPAPER_IDF_DEVICE_MODEL_GDEW075T8_OPT || EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 39
        default 4
    
    comment "Important: Set the below GPIO options to -1 unless using SPI multi-channel displays (wave12I48 or Plasticlogic)"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT

    comment "The CS2 and MISO pins are only for Plasticlogic displays"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT

    config EPAPER_IDF_SPI_CS2
        int "SPI GPIO for Chip Select2 (CS2)"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 34
        default -1
    config EPAPER_IDF_SPI_MISO
        int "SPI GPIO for MISO (MISO)"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range -1 36
        default -1
        
    comment "Important: The below options are only for 4-module displays, like wave12I48 which has 4 SPI CS and BUSY pins (14 pins)"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
    comment "You can leave them as-is if you aren't using on of these displays"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
    comment "S2 - M2"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
    comment " | + | "
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
    comment "M1 - S1"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
    config EPAPER_IDF_SPI_M1_CS
        int "* CS M1"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 23
        default 23
    config EPAPER_IDF_SPI_S1_CS
        int "* CS S1"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 23
        default 22
    config EPAPER_IDF_SPI_M2_CS
        int "* CS M2 do not use 16-17 when using PSRAM"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 27
        default 16
    config EPAPER_IDF_SPI_S2_CS
        int "* CS S2"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 23
        default 19

    config EPAPER_IDF_SPI_M1_BUSY
        int "* BUSY M1"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 32
        default 32
    config EPAPER_IDF_SPI_S1_BUSY
        int "* BUSY S1"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 32
        default 26
    config EPAPER_IDF_SPI_M2_BUSY
        int "* BUSY M2"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 32
        default 18
    config EPAPER_IDF_SPI_S2_BUSY
        int "* BUSY S2"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 32
        default 4

    config EPAPER_IDF_M1S1_DC
        int "* M1S1_DC: M1 & S1 share DC & RST"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 25
        default 25
    config EPAPER_IDF_M2S2_DC
        int "* M2S2_DC do not use 16-17 when using PSRAM"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 27
        default 17
    config EPAPER_IDF_M1S1_RST
        int "* M1S1_RST"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 33
        default 33
    config EPAPER_IDF_M2S2_RST
        int "* M2S2_RST"
        depends on EPAPER_IDF_DEVICE_MODEL_USER_OPT
        range 0 33
        default 5
endmenu
