@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* @font-face {
    font-family: "Nanum Myeongjo";
    src: url("./NanumMyeongjo-Regular.ttf");
} */

body {    
    background-color: #979633;
}

#main::after {
    content: "";
    background-image: url('./world-soup-remastered-bw.png');
    background-size: 100vw 100vh;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#main {
    font-family: 'Nanum Myeongjo', serif;
}

#main .title hr {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

#main h1.title {
    font-size: 3em;
    background-color: rgba(200, 200, 200, 0.9);
    padding: 0.2em;
    padding-left: 0.6em;
}

#main h3.title {
    font-size: 1.5em;
    background-color: rgba(200, 200, 200, 0.9);
    padding: 0.2em;
    padding-left: 0.6em;
    padding-top: 0.5em;
}

#main #util {
    background-color: rgba(200, 200, 200, 0.8);
    padding-bottom: 0.1em;
}

#main #util .util {
    margin: 0.4em;
    margin-left: 1.2em;
    margin-top: 0.1em;
    margin-bottom: 1.8em;
}

#main #util button.util {
    padding: 0.5em;
}

#main #util #util-status.status {
    background-color: rgba(200, 200, 200, 1.0);
    margin: 0.4em;
    margin-left: 1.2em;
    margin-top: 0.1em;
    margin-bottom: 1.8em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
    font-size: 1.1em;
    font-weight: 800;
}
